@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(89, 89, 121, 0.633);
    position: sticky;
    top: 0;
    padding: 30px;

}

.navbar ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: auto;
    justify-content: center;

}

.navbar ul li {
    font-family: century;
    font-size: 25px;
    font-weight: bold;
}

.navbar ul li a {
    justify-content: center;
    margin: auto;
    text-decoration: none;
    color: rgb(246, 199, 142);
    padding: 8px 20px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: rgb(98, 125, 158);
    color: rgb(181, 216, 111);
    box-shadow: 0 0 10px rgb(94, 91, 91);
}

@media screen and (max-width:375px){
     .navbar{
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 15px;
        float: none;
    }


    .navbar ul {
        display: flex;
        list-style: none;
        margin: 10px 0px;
    
    }
    
    .navbar ul li {
        font-family: century;
        font-size: 10px;
        font-weight: bold;
    }
}
   

/* Home section */
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    
}


.infoContainer {
    background-color: rgba(153, 178, 119, 0.415);
    height: 80vh;
    width: 85vw;
    flex-wrap: wrap;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
}

.divInfo {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;    
    font-size: 40px;
    font-weight: bold;
    color: rgb(69, 82, 34);
    font-family: 'Dancing Script', cursive;
}


.btn1 {
    border: 3px solid rgb(167, 198, 167);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

.btn1:hover {
    background-color: rgba(182, 182, 182, 0.772);
    color: rgb(26, 25, 25);
    border: 2px solid white;
    border-radius: 25px;
    transition: 2ms;
    font-size: 25px;
}


.divpic, img {
    width: 500px;
    margin-top: 30px;
    background-color: rgba(135, 113, 113, 0.239);

}

/* prtfolio */
 #prtfolio {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

} 

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;

}

.gallery img {
    width: 405px;
    height: 288px;
    margin: 34px;
    padding: 10px;
} 


/* footer section */
footer {
    background-color: #111;
    position: absolute;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-container h4 {
    font-size: 2rem;
    font-family: cursive;
    font-weight: 400;
    color: rgb(234, 222, 222);
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 18px;
    color: rgb(150, 106, 191);
    font-family: 'Dancing Script', cursive;
}

.footer-bootom {
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    white-space: 2px;
    text-transform: capitalize;
}

.footer-bootom span {
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 200;
}

/* ABout section */
#about {
    flex-wrap: wrap;
    background-color: rgba(203, 203, 170, 0.409);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 10px;
}

.heading {
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    padding: 30px;
    color: rgb(15, 10, 15);
}

#pic {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

#pic img {
     display: flex; 
     margin: auto; 
    background-color: rgba(164, 158, 158, 0.493);
    width: 400px;   
    margin-top: -25px;
    justify-content: center;
    align-items: center;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

 
#intro h2, p {
    flex-wrap: wrap;
    color: rgb(130, 39, 130);
    font-size: 2rem;
    margin: 2px, 20px;
    padding: 5px, 20px;
    font-family: 'Dancing Script', cursive;
}

/* contact start */
.maincontact {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #e8d1ed;
}

.Contactform {
    margin: auto;
    padding: 0;
    justify-content: center;
    

}

.Contactform h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 40px;
}

.Contactform form div {
    padding: 20px 0;
    text-align: center;
    font-size: 25px;

}

.submit1 {
    color: rgb(231, 242, 242);
    background-color: rgb(17, 17, 15);
    font-size: 22px;
    border: 3px solid rgb(16, 14, 14);
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.submit1:hover {
    background-color: #ddeac2;
    ;
    color: #161c1c;
    border: 2px solid white;
    border-radius: 20px;
    transition: 3ms;
    font-size: 30px;

}

/* Portfolio start  */
.headings {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: auto;
    color: rgb(52, 126, 126);
    padding: 35px;
    justify-content: center;

}

.h24 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    color: rgb(79, 127, 150);
}

.grid-continar4 {
    display: grid;
    background-color: rgba(148, 132, 132, 0.278);
    width: 100%;
    border: 2px solid rgba(124, 124, 113, 0.169);
    border-radius: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;
    column-gap: 2px;
    justify-content: space-around;
}


img {
    width: 400px;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    
}



.item1 {
    margin: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;


}

.item2 {
    margin: 10px;
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;

}

.item3 {
    margin: 1rem;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;

}

.item4 {
    margin: 1rem;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;

}


/* project1  */
.flex-contanier {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.flex-contanier a {
    text-decoration: none;
    font-size: 40px;
    background-color: rgb(211, 226, 180);
    color: rgb(134, 120, 224);
    font-weight: bolder;
    margin: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rubrik h3 {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 30px;
    color: rgb(107, 96, 178);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

.box {
    padding: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.box img {
    width: 70vw;

}


.contanier5 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    background-color: rgb(206, 228, 221);
    border-radius: 20px;
}

.bild img {
    margin: 30px;
    padding: 30px;
    background-color: rgb(203, 215, 211);
    border-radius: 30px;
}

.contaner-lorem {
    display: flex;
    width: 100%;
    height: 100%;

}

.contaner-lorem p {
    border-radius: 20px;
    display: flex;
    margin: 30px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: rgb(172, 186, 181);
    justify-content: center;
}

/* @media screen  */


@media screen and (max-width:500px) {



    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgba(89, 89, 121, 0.633);
        position: sticky;
        top: 0;
        padding: 20px;
    }

        .navbar ul li {
            font-family: century;
            font-size: 15px;
            font-weight: bold;
        }
    
    
    .btn1:hover{
        background-color: rgba(182, 182, 182, 0.772);
        color: rgb(26, 25, 25);
        border: 2px solid white;
        border-radius: 10px;
        transition: 2s;
        font-size: 10px;
    }
    .btn1 {
        border: 2px solid rgb(167, 198, 167);
        border-radius: 5px;
        padding: 4px;
        margin: 4px;
        font-size: 20px;
        font-weight: bold;
    }



    .divpic, img {
        width: 250px;
        margin-top: 50px;
        background-color: rgba(135, 113, 113, 0.239);
    
    }

    #prtfolio .gallery img {
        width: 338px;
        margin: 20px;
        padding: 10px;
    } 

    .footer-container p {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 10px ;
        line-height: 25px;
        font-size: 16px;
        color: rgb(150, 106, 191);
        font-family: 'Dancing Script', cursive;
    }

   #about #pic img {
        display: flex; 
        margin: auto; 
       background-color: rgba(164, 158, 158, 0.493);
       width: 250px;   
       justify-content: center;
       align-items: center;
   }

   .grid-continar4 img  {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 10px;
    background-color: rgba(148, 132, 132, 0.278);
    width: 100%;
    border: 2px solid rgba(124, 124, 113, 0.169);
    border-radius: 10px;
    font-size: 20px;
    justify-content: space-around;
}


 .grid-continar4 .h24 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10px;
    color: rgb(79, 127, 150);
}

}


